.guide{
    position: relative; 
}
.guide-name{
    background-color: #2095AE;
    position: absolute;
    left: 55px;
    bottom: -45px;
}
.guide:hover .guide-name{
    visibility: hidden;
}
.guide-info{
    background-color: #2095AE;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: 1s;
}
.info-text{
    margin-top: 45%;
    visibility: hidden;
}
.guide:hover .guide-info{
    height: 100%;
    top: 100;
    background-color: #2094aedb;
}
.guide:hover .info-text{
    visibility: visible;
}
.info-text i{
    cursor: pointer;
}